* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar CSS */

.navbar {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 228px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h1,
.navbar a {
  font-family: "Work Sans", sans-serif;
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  color: #131313;
}

.navbar a {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #424242;
}

.navbar ul {
  list-style: none;
}

.nav-ul {
  display: flex;
  align-items: center;
  gap: 34px;
}

.navbar a {
  text-decoration: none;
}

/* Header Section CSS */

.header {
  background-color: rgba(255, 144, 14, 0.1);
}

.header-content {
  padding: 40px 529px;
  text-align: center;
  padding-bottom: 0;
}

.header-content h1,
.feature-header-h1 {
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #131313;
  margin-bottom: 15px;
}

.header-content p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 32px;
}

.btn-primary {
  padding: 20px 25px;
  color: white;
  background-color: #ff900e;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  border: none;
  border-radius: 8px;
}

.header-img-div {
  padding: 50px 240px;
  padding-bottom: 45px;
}

.header-img {
  text-align: center;
  border-radius: 4px;
  width: 100%;
}

/* Quick List CSS */

.quick-list {
  padding: 40px 301px;
  padding-bottom: 130px;
}

.quick-list-main-div {
  display: flex;
  align-items: center;
  gap: 73px;
}

.quick-list-gallary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.quick-list-text h1 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  color: #727272;
  margin-bottom: 24px;
}

.h1-color {
  color: #ff900e;
}

.quick-list-text p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 32px;
}

/* Feature Section CSS */

.feature-section {
  padding: 0px 240px;
  padding-bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.header-border {
  content: "";
  width: 5px;
  height: 106px;
  border-left: 4px solid #ff900e;
}

.feature-header-h1 {
  margin-bottom: 0px;
  font-size: 35px;
  line-height: 40px;
}

.border-h1-flex {
  display: flex;
  gap: 21px;
  align-items: center;
  margin-bottom: 24px;
}

.feature-header p {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 30px;
}

.card {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-bottom: 5px;
}

.feature-card {
  background: #ffffff;
}

.card-content {
  padding: 10px 20px;
  text-align: left;
}

.card-content h1 {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #131313;
  margin-bottom: 10px;
}

.card-content p {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

.float-btn {
  padding: 45px;
  width: 342px;
  height: 200px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 60px;
  color: #ffffff;
  float: left;
  position: relative;
  top: -150px;
}

/* Fact Section CSS */

.fact-section {
  padding: 70px 240px;
  padding-bottom: 0px;
}

.fact-content h1,
.ensure-h1 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
  margin-bottom: 24px;
}

.fact-content p,
.ensure-p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

/* Fact Grid Section CSS */

.fact-info-grid {
  display: grid;
  padding: 100px 290px;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding-bottom: 0px;
}

.fact-info {
  padding: 40px 35px;
  border: 1px solid #ff900e;
  border-radius: 8px;
  text-align: center;
  width: 241.83px;
  height: 241.83px;
  cursor: pointer;
}

.fact-info:hover {
  transform: rotate(5deg);
  background-color: #4e4c4c3f;
}

.fact-info img {
  margin-bottom: 10px;
}

.fact-info h1 {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 45px;
  line-height: 53px;
  color: #424242;
  margin-bottom: 5px;
}

.fact-info p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #727272;
}

/* Ensure CSS */

.ensure-Section {
  padding: 75px 250px;
  padding-bottom: 0px;
}

.ensure-h1 {
  margin-bottom: 5px;
  text-align: center;
}

.ensure-p {
  margin-bottom: 75px;
  text-align: center;
}

.ensure-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.ensure-bg h1,
.ensure-bg p {
  font-family: "Work Sans";
  margin-bottom: 10px;
  font-weight: 600;
  margin-top: 15px;
}

.ensure-bg p {
  font-weight: 500;
  color: #424242;
  margin-top: 0;
}

/* Sponsor Section CSS */

.sponsor-section {
  padding: 90px 240px;
  padding-bottom: 0px;
}

.sponsor-content {
  text-align: center;
}

.sponsor-content h1 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
  margin-bottom: 24px;
}

.sponsor-content p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
  margin-bottom: 50px;
}

.sponsor-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
}

.sponsor-img-div img {
  filter: grayscale(100%);
}

/* Footer Section CSS */

.footer {
  padding: 130px 240px;
  padding-bottom: 216px;
}

.footer-content {
  padding: 38px 210px;
  background-color: #fff4e7;
  border-radius: 8px;
}

.footer-content p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #424242;
}

@media screen and (max-width: 576px) {
  /* Navbar CSS */

  .navbar {
    padding: 20px 15px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .nav-ul {
    gap: 15px;
  }

  .navbar h1,
  .header-content h1,
  .fact-content h1,
  .sponsor-content h1 {
    font-size: 35px;
    margin-bottom: 10px;
    line-height: 45px;
  }

  /* Header Section CSS */

  .header-content {
    padding: 25px;
    text-align: center;
    padding-bottom: 0;
  }

  .header-img-div {
    padding: 10px;
  }

  .header-img-div img {
    width: 100%;
  }

  /* Quick List CSS */

  .quick-list {
    padding: 25px;
  }

  .quick-list-main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .quick-list-gallary {
    grid-template-columns: repeat(1, 1fr);
  }

  /* Feature Section */

  .feature-section {
    display: block;
    padding: 25px;
    padding-bottom: 0px;
  }

  .feature-section-img {
    margin-top: 15px;
    text-align: center;
    height: 360px;
    margin-bottom: 30px;
  }

  .architect-img {
    width: 75%;
  }

  .float-btn {
    padding: 0px;
    font-size: 22px;
    line-height: 35px;
    height: 120px;
    width: 160px;
    float: none;
  }

  /* Fact Section CSS */

  .fact-section {
    padding: 25px;
  }

  /* Fact CSS */

  /* Ensure CSS */

  .ensure-Section {
    padding: 25px;
    padding-bottom: 30px;
  }

  .ensure-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .ensure-p {
    margin-bottom: 30px;
    text-align: center;
  }

  /* Fact grid Section CSS */

  .fact-info-grid {
    display: grid;
    padding: 25px;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    padding-bottom: 0px;
    justify-items: center;
  }

  /* Sponsor Section CSS */

  .sponsor-section {
    padding: 25px;
    padding-bottom: 0px;
  }

  .sponsor-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 35px;
  }

  /* Footer Section CSS */

  .footer {
    padding: 25px;
    margin-bottom: 20px;
  }

  .footer-content {
    padding: 20px;
    background-color: #fff4e7;
    border-radius: 8px;
  }

  .footer-content p {
    font-size: 12px;
  }
}
